@using Projekat.Models;
@model Projekat.Models.Osoba
@{
    ViewBag.Title = "Detalji";
}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h2>Detalji osobe</h2>
        <hr>
        <table class="table table-striped table-hover ">
            <tbody>
            <tr><td>Ime:</td><td>@Model.Ime</td></tr>
            <tr><td>Prezime:</td><td> @Model.Prezime </td></tr>
            <tr><td>Ime roditelja:</td><td> @Model.ImeRoditelja </td></tr>
            <tr><td>JMBG:</td><td> @Model.JMBG </td></tr>
            <tr><td>Datum rođenja:</td><td> @Model.DatumRodjenja.ToLongDateString() </td></tr>
            <tr><td>Mesto rođenja:</td><td> @Model.MestoRodjenja </td></tr>
            <tr><td>Opština rođenja:</td><td> @Model.OpstinaRodjenja </td></tr>
            <tr><td>Pol:</td><td> @(Model.Pol == "M" ? "Muški" : "Ženski") </td></tr>
            <tr><td>Broj lične karte:</td><td> @Model.BrojLicneKarte </td></tr>
            @if (Model.Beleska != "")
            {
                <tr><td>Beleška:</td><td>@Model.Beleska</td></tr>
            }
            @if (Model.BrojeviTelefona.Count() > 0)
            {
                <tr>
                    <td>Brojevi telefona:</td>
                    <td>
                        <ol style="margin:0; padding-left:15px;">
                            @foreach (Telefon t in Model.BrojeviTelefona)
                            {
                                <li>@(t.OznakaTelefona.Oznaka + ": " + t.Broj + (t.Lokal != "" ? " Lokal: " + t.Lokal : "")  ) </li>
                            }
                        </ol>
                    </td>
                </tr>
            }
            @if (Model.MailAdrese.Count() > 0)
            {
                <tr>
                    <td>Mail adrese:</td>
                    <td>
                        <ol style="margin:0; padding-left:15px;">
                            @foreach (Mail m in Model.MailAdrese)
                            {
                                <li>@(m.OznakaMaila.Oznaka + ": " + m.Adresa) </li>
                            }
                        </ol>
                    </td>
                </tr>
            }
            @if (Model.PostanskeAdrese.Count() > 0)
            {
                <tr>
                    <td>Poštanske adrese:</td>
                    <td>
                        <ol style="margin:0; padding-left:15px;">
                            @foreach (PostanskaAdresa pa in Model.PostanskeAdrese)
                            {
                                <li>@(pa.OznakaPostanskeAdrese.Oznaka + ": " + pa.Adresa + ", " + pa.PostanskiBroj + ", " + pa.Grad) </li>
                            }
                        </ol>
                    </td>
                </tr>
            }
            </tbody>
        </table>
        <input id="dugmezastampu" type="button" value="ŠTAMPAJ" onclick="printpage()" class="btn btn-default"/>

    </div>
</div>
<script type="text/javascript">
    function printpage() {

        var printButton = document.getElementById("dugmezastampu");

        printButton.style.visibility = 'hidden';
   
        window.print()
        
        printButton.style.visibility = 'visible';
    }
</script>

