@using Projekat.Models
@model Projekat.ViewModels.TelefoniViewModel
@{
    ViewBag.Title = "Telefoni";
}

<h2>Telefoni</h2>
<hr>
@using (Html.BeginForm("SacuvajIzmeneTelefona", "Arhiva"))
{
    <div class="row" style="margin-bottom: 15px" >
        <div class="col-md-3" style="display:inline-block">
            
            @Html.ActionLink("Dodaj broj", "NoviTelefon", "Arhiva", new { id = @Model.Telefoni[0].Id }, new { @class = "btn btn-primary" })
        </div>
     </div>
    <div class="row">
        @for (int i = 0; i < Model.Telefoni.Count(); i++)
        {
            <div class="col-md-3" style="display:inline-block">
                <div class="form-group">
                    @Html.LabelFor(a => Model.Telefoni[i].Broj)  @(i + 1):
                    @Html.DropDownListFor(a => Model.Telefoni[i].OznakaTelefona.Id, new SelectList(Model.OznakeTelefona, "Id", "Oznaka", Model.Telefoni[i].OznakaTelefona.Id), "Oznaka", new { @class = "form-control" })
                    @Html.TextBoxFor(a => Model.Telefoni[i].Broj, new { @class = "form-control" })
                    @Html.ValidationMessageFor(a => Model.Telefoni[i].Broj)
                
                
              
                    @Html.LabelFor(a => Model.Telefoni[i].Lokal)
                    @Html.TextBoxFor(a => Model.Telefoni[i].Lokal, new { @class = "form-control" })
              </div>

        
            @Html.HiddenFor(a => Model.Telefoni[i].Id)
            @Html.HiddenFor(a => Model.Telefoni[i].RedniBr)


            @if (Model.Telefoni.Count > 1)
            {
                <div class="form-group" style="display:inline-table">
                    @Html.ActionLink("OBRIŠI", "IzbrisiTelefon", "Arhiva", new { id = @Model.Telefoni[i].Id, rednibr = @Model.Telefoni[i].RedniBr }, new { @class = "btn btn-primary", style = "margin: 4%;"  })
                 </div>
                       }
         </div>       
         

            }
<div class="col-md-3" style="display:block">
        <button type="submit" class="btn btn-primary">
            Sačuvaj
        </button>
    </div>
   </div>


}
        @section Scripts
{
            @Scripts.Render("~/bundles/jqueryval")
}

