@model Projekat.ViewModels.AdreseViewModel
@{
    ViewBag.Title = "Nova Adresa";
}

<h2>Nova Adresa</h2>

@using (Html.BeginForm("SacuvajNovuAdresu", "Arhiva"))
{

    <div class="form-group">
        @Html.LabelFor(a => Model.Adrese[0].Adresa):
        @Html.DropDownListFor(a => Model.Adrese[0].OznakaMaila.Id, new SelectList(Model.OznakeMaila, "Id", "Oznaka"), "Oznaka", new { @class = "form-control" })
        @Html.TextBoxFor(a => Model.Adrese[0].Adresa, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => Model.Adrese[0].Adresa)
    </div>
   
    @Html.HiddenFor(a => Model.Adrese[0].Id)


    <button type="submit" class="btn btn-primary" style="margin-bottom: 15px">
        Sačuvaj
    </button>

}
@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
