@model Projekat.ViewModels.OsobaNovaViewModel
@{
    ViewBag.Title = "Nova Osoba";
}

<h2>Nova Osoba</h2>

<div class="row">
    

    @using (Html.BeginForm("SacuvajNovu", "Arhiva", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="col-md-3">
            @*@Html.ValidationSummary()*@
            <div class="form-group">
                @Html.LabelFor(a => a.Osoba.JMBG)
                @Html.TextBoxFor(a => a.Osoba.JMBG, new { @class = "form-control" })
                @Html.ValidationMessageFor(a => a.Osoba.JMBG)
            </div>

            <div class="form-group">
                @Html.LabelFor(a => a.Osoba.Ime)
                @Html.TextBoxFor(a => a.Osoba.Ime, new { @class = "form-control" })
                @Html.ValidationMessageFor(a => a.Osoba.Ime)
            </div>

            <div class="form-group">
                @Html.LabelFor(a => a.Osoba.Prezime)
                @Html.TextBoxFor(a => a.Osoba.Prezime, new { @class = "form-control" })
                @Html.ValidationMessageFor(a => a.Osoba.Prezime)
            </div>

            <div class="form-group">
                @Html.LabelFor(a => a.Osoba.ImeRoditelja)
                @Html.TextBoxFor(a => a.Osoba.ImeRoditelja, new { @class = "form-control" })
                @Html.ValidationMessageFor(a => a.Osoba.ImeRoditelja)
            </div>

            <div class="form-group">
                @Html.LabelFor(a => a.Osoba.DatumRodjenja)
                @Html.TextBoxFor(a => a.Osoba.DatumRodjenja, "{0:dd.MM.yyyy.}", new { @class = "form-control" })
                @Html.ValidationMessageFor(a => a.Osoba.DatumRodjenja)
            </div>

            <div class="form-group">
                @Html.LabelFor(a => a.Osoba.MestoRodjenja)
                @Html.TextBoxFor(a => a.Osoba.MestoRodjenja, new { @class = "form-control" })
                @Html.ValidationMessageFor(a => a.Osoba.MestoRodjenja)
            </div>

            <div class="form-group">
                @Html.LabelFor(a => a.Osoba.OpstinaRodjenja)
                @Html.TextBoxFor(a => a.Osoba.OpstinaRodjenja, new { @class = "form-control" })
                @Html.ValidationMessageFor(a => a.Osoba.OpstinaRodjenja)
            </div>

            <div class="form-group">
                @Html.LabelFor(a => a.Osoba.Pol)
                @Html.DropDownListFor(a => a.Osoba.Pol, new SelectList(Model.Pol, "Vrednost", "Prikaz"), "Pol", new { @class = "form-control" })
                @Html.ValidationMessageFor(a => a.Osoba.Pol)
            </div>

            <div class="form-group">
                @Html.LabelFor(a => a.Osoba.BrojLicneKarte)
                @Html.TextBoxFor(a => a.Osoba.BrojLicneKarte, new { @class = "form-control" })
                @Html.ValidationMessageFor(a => a.Osoba.BrojLicneKarte)
            </div>

            <div class="form-group">
                @Html.LabelFor(a => a.Osoba.Beleska)
                @Html.TextAreaFor(a => a.Osoba.Beleska, new { @class = "form-control" })
                @Html.ValidationMessageFor(a => a.Osoba.Beleska)
            </div>
            @Html.HiddenFor(a => a.Osoba.Id)
            <button type="submit" class="btn btn-primary">
                Sačuvaj
            </button>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                @Html.LabelFor(a => a.Osoba.Telefon.Broj)
                @Html.DropDownListFor(a => a.Osoba.Telefon.OznakaTelefona.Id, new SelectList(Model.OznakeTelefona, "Id", "Oznaka"), "Oznaka", new { @class = "form-control" })
                @Html.TextBoxFor(a => a.Osoba.Telefon.Broj, new { @class = "form-control" })
                @Html.ValidationMessageFor(a => a.Osoba.Telefon.Broj)
            </div>
            <div class="form-group">                       
                @Html.LabelFor(a => a.Osoba.Telefon.Lokal)
                @Html.TextBoxFor(a => a.Osoba.Telefon.Lokal, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(a => a.Osoba.Mail.Adresa)
                @Html.DropDownListFor(a => a.Osoba.Mail.OznakaMaila.Id, new SelectList(Model.OznakeMaila, "Id", "Oznaka"), "Oznaka", new { @class = "form-control" })
                @Html.TextBoxFor(a => a.Osoba.Mail.Adresa, new { @class = "form-control" })
                @Html.ValidationMessageFor(a => a.Osoba.Mail.Adresa)
            </div>
            <div class="form-group">
                @Html.LabelFor(a => a.Osoba.PostanskaAdresa.Adresa)
                @Html.DropDownListFor(a => a.Osoba.PostanskaAdresa.OznakaPostanskeAdrese.Id, new SelectList(Model.OznakePostanskeAdrese, "Id", "Oznaka"), "Oznaka", new { @class = "form-control" })
                @Html.TextBoxFor(a => a.Osoba.PostanskaAdresa.Adresa, new { @class = "form-control" })
                @Html.ValidationMessageFor(a => a.Osoba.PostanskaAdresa.Adresa)
            </div>
            <div class="form-group">
                @Html.LabelFor(a => a.Osoba.PostanskaAdresa.PostanskiBroj)
                @Html.TextBoxFor(a => a.Osoba.PostanskaAdresa.PostanskiBroj, new { @class = "form-control" })
                @Html.ValidationMessageFor(a => a.Osoba.PostanskaAdresa.PostanskiBroj)
            </div>
            <div class="form-group">
                @Html.LabelFor(a => a.Osoba.PostanskaAdresa.Grad)
                @Html.TextBoxFor(a => a.Osoba.PostanskaAdresa.Grad, new { @class = "form-control" })
                @Html.ValidationMessageFor(a => a.Osoba.PostanskaAdresa.Grad)
            </div>
        </div>
        <div class="col-md-3">

            <label for="file">Postavi sliku:</label>
            
            <input type="file" name="file" id="file" style="width: 100%;"  value="@Model.Osoba.Fotografija"/>

        </div>
    }
            
    
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}