@using Projekat.Models
@model Projekat.ViewModels.TelefoniViewModel
@{
    ViewBag.Title = "Telefoni";
}

<h2>Telefoni</h2>

@using (Html.BeginForm("SacuvajIzmeneTelefona", "Arhiva"))
{
    <div class="row" style="margin-bottom: 15px">
        <div class="col-md-3">
            <button type="submit" class="btn btn-primary" >
                Sačuvaj
            </button>
            @Html.ActionLink("Dodaj broj", "NoviTelefon", "Arhiva", new { id = @Model.Telefoni[0].Id }, new { @class = "btn btn-primary" })
        </div>
     </div>
    <div class="row">
        @for (int i = 0; i < Model.Telefoni.Count(); i++)
        {
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(a => Model.Telefoni[i].Broj)  @(i + 1):
                    @Html.DropDownListFor(a => Model.Telefoni[i].OznakaTelefona.Id, new SelectList(Model.OznakeTelefona, "Id", "Oznaka", Model.Telefoni[i].OznakaTelefona.Id), "Oznaka", new { @class = "form-control" })
                    @Html.TextBoxFor(a => Model.Telefoni[i].Broj, new { @class = "form-control" })
                    @Html.ValidationMessageFor(a => Model.Telefoni[i].Broj)
                </div>
                <div class="form-group">
                    @Html.LabelFor(a => Model.Telefoni[i].Lokal)
                    @Html.TextBoxFor(a => Model.Telefoni[i].Lokal, new { @class = "form-control" })
                </div>
                @Html.HiddenFor(a => Model.Telefoni[i].Id)
                @Html.HiddenFor(a => Model.Telefoni[i].RedniBr)
                
                @if (Model.Telefoni.Count > 1)
                {
                    @Html.ActionLink("IZBRIŠI", "IzbrisiTelefon", "Arhiva", new { id = @Model.Telefoni[i].Id, rednibr = @Model.Telefoni[i].RedniBr }, new { @class = "btn btn-primary", style = "margin-bottom: 5px" })
                }
            </div>
        }
    </div>



}
        @section Scripts
{
            @Scripts.Render("~/bundles/jqueryval")
}

